@media screen and (max-width: 993px) {
    .container {
        width: 100%;
    }

    .form-container {
        margin: 0;
        padding: 0;
        display: flex;
        width: 94% !important;
        margin-left: 15px !important;
    }

    .picker-container {
        width: 92%;
        margin: auto !important;
    }

    #picker-container {
        margin-top: 6px;
    }

    .search-button-content {
        padding: 0 !important;
    }

    .search-button {
        width: 100% !important;
        margin-top: 6px;
    }

    .select-wrapper ul {
        width: auto !important;
    }

}

@media screen and (max-width: 700px) {
    .form-container {
        margin: 0;
        padding: 0;
        display: flex;
        width: 93% !important;
        margin-left: 20px !important;
    }
}

@media screen and (max-width: 600px) {
    #choose-End-date {
        margin-top: 4px;
    }

    #destination-container {
        margin-top: 5px;
    }

    .input-field.flex-container.input-group.col.s12.m6.row {
        background-color: #f3f5f7;
    }

    .picker-container .bg-color-f3f5f7 {
        background-color: transparent !important;
    }

    .picker-container .search-button-content .search-button {
        background-color: #f3f5f7 !important;
    }

    #include-datepicker-component {
        padding-left: 0;
    }

    .form-container {
        flex-direction: column;
    }

    #change-direction-icon {
        border: 2px solid #fff;
        position: absolute;
        right: 33px;
        margin-top: 19px;
    }

    .row-reverse {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .row-reverse #change-direction-icon {
        margin-top: -19px;
    }

    .row-reverse #destination-component {
        margin-bottom: 5px;
    }

    /*bg-color-f3f5f7 search-button*/
    .pick-end-date {
        margin-left: -9px;
    }

    div#calendar .input-group:first-of-type {
        border-right: none;
    }

    #passengers {
        left: 50% !important;
        margin-left: -145px;
        width: 250px !important;
    }

    .destination-card {
        min-width: 99% !important;
    }
}

@media screen and (max-width: 320px) {

}
