<div class="row col m12" id="calendar" ng-controller="Datepicker as dp">
    <div class="input-field flex-container input-group col s12 m6 row">
        <i class="icon-chip col m2 small material-icons">event</i>
        <div class="col m10 common-class-datepicker">
            <input type="text" id="startDate" class="datepicker" ng-model="dp.startDate">
        </div>
    </div>
    <div id="choose-End-date" class="input-field flex-container input-group col s12 m6 row">
        <i class="icon-chip pick-end-date col m2 small material-icons">event</i>
        <div class="col m10 common-class-datepicker">
            <input type="text" id="endDate" class="datepicker" ng-model="dp.endDate">
        </div>
    </div>


</div>
</div>
